.wrapperHomePage {
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    gap: 45px;
    box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    margin: 25px 0;
}

.main {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.headerLink {
    font-size: 22px;
}

.active {
    color: blue;
}