.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 50px 0;
}

.input {
    padding: 15px 5px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid grey;
}

.btn {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
    transition: 50ms ease-in-out;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
    color: blue;
}

.btn:active {
    transform: scale(1.2);
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 20px;

}


.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-wrap: break-word;
    width: 150px;
    transition: transform 0.3s ease-in-out;

}

.item:hover .link {
    transform: scale(1.2);
}

.link {
    display: flex;
    flex-direction: column;
}