.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-wrap: break-word;
    width: 150px;
}

.item:hover .link {
    transform: scale(1.2);
}

.link {
    padding: 12px;
}

.active {
    color: blue;
}