#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}