.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}

.link {
    padding: 12px;
}

.active {
    color: blue;
}